{% extends 'playstore/base.html' %}
{% load static %}

{% block title %}Playstore{% endblock %}

{% block header %}
<center><img src="{% static 'playstore/images/header.png' %}" alt="Лого ебейшее"></center>
<h2>Тут будут ебейшие игры, пока что по категориям, потом посмотрим</h2>
{% endblock %}
{% block content %}
{% for cat in cats %}
	<h2>{{cat}}</h2>
	<ul>
		{% for game in three_games %}
		<li>
			<a href="{% url 'game' name='Название игры'%}"><img src="{% static 'playstore/images/plug.jpg' %}" alt="Заглушка для лого игры"></a>
			<p>{{game}}</p>
			<caption>Всякие хештеги + Рейтинг игры</caption>
		</li>
		{% endfor %}
	</ul>
	<p><a href="https://www.meme-arsenal.com/create/meme/3882193">Перейти к категории</a></p>
{% endfor %}
{% endblock %}

{% block footer %}
<p>Ебаные ноги</p>
{% endblock %}

{% block sidebar %}
<p>Правый боковой</p>
{% endblock %}